In [1]:
import re
import os
import glob
import zipfile
import requests
from urllib.request import urlretrieve
import json
import pandas as pd
from memory_profiler import memory_usage

import pyarrow.dataset as ds
import rpy2_arrow.pyarrow_rarrow as pyra
import pyarrow.feather as feather
import pyarrow.parquet as pq

In [2]:
%load_ext rpy2.ipython
%load_ext memory_profiler

### Loading Datasets into Different Formats

In [3]:
%%time
%%memit

#loading datasets

dataset = ds.dataset("figshare_rainfall/combined_data.csv", format="csv")
## this is of arrow table format
table = dataset.to_table()

peak memory: 1222.97 MiB, increment: 994.91 MiB
CPU times: user 20.7 s, sys: 12.5 s, total: 33.2 s
Wall time: 29.5 s

In [4]:
%%time
# writing to feather format
feather.write_feather(table, 'figshare_rainfall/combined.feather')

CPU times: user 4.81 s, sys: 12.7 s, total: 17.5 s
Wall time: 9.17 s

In [5]:
%%time
## writing as a single parquet 
pq.write_table(table, 'figshare_rainfall/combined.parquet')

CPU times: user 10.7 s, sys: 1.47 s, total: 12.1 s
Wall time: 13.4 s

### Size of Files

In [6]:
%%sh
# I am just seeing the size of the csv data
du -sh figshare_rainfall/combined_data.csv
# I am just seeing the size of the feather data
du -sh figshare_rainfall/combined.feather
# I am just seeing the size of the parquet data
du -sh figshare_rainfall/combined.parquet

5.6G	figshare_rainfall/combined_data.csv
1.0G	figshare_rainfall/combined.feather
544M	figshare_rainfall/combined.parquet

### Transfering to R and trying to do simple count(model)

In [7]:
%%time
%%memit
## Here we are loading the arrow dataframe that we have loaded previously

r_table = pyra.converter.py2rpy(table)

5695
rarrow.ChunkedArray: 0.02436971664428711
5695
rarrow.ChunkedArray: 0.023822784423828125
5695
rarrow.ChunkedArray: 0.024706125259399414
5695
rarrow.ChunkedArray: 0.03090691566467285
5695
rarrow.ChunkedArray: 0.023089885711669922
5695
rarrow.ChunkedArray: 0.02243208885192871
5695
rarrow.ChunkedArray: 0.024064064025878906
peak memory: 4261.00 MiB, increment: 175.95 MiB
CPU times: user 25.2 s, sys: 764 ms, total: 26 s
Wall time: 27 s

In [8]:
%%time
%%R -i r_table

## arrow Speed
start_time <- Sys.time()
print(class(r_table))
##add details on collect here
library(dplyr)
# Arrow speed
result <- r_table %>% collect() %>% count(model)
print(class(r_table %>% collect()))
end_time <- Sys.time()
print(result)
print(end_time - start_time)

[1] "Table"       "ArrowObject" "R6"

R[write to console]:
Attaching package: ‘dplyr’


R[write to console]: The following objects are masked from ‘package:stats’:

    filter, lag


R[write to console]: The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

[1] "tbl_df"     "tbl"        "data.frame"
# A tibble: 27 x 2
   model                  n
   <chr>              <int>
 1 ACCESS-CM2       1932840
 2 ACCESS-ESM1-5    1610700
 3 AWI-ESM-1-1-LR    966420
 4 BCC-CSM2-MR      3035340
 5 BCC-ESM1          551880
 6 CanESM5           551880
 7 CMCC-CM2-HR4     3541230
 8 CMCC-CM2-SR5     3541230
 9 CMCC-ESM2        3541230
10 EC-Earth3-Veg-LR 3037320
# … with 17 more rows
Time difference of 13.61767 secs
CPU times: user 10.7 s, sys: 12.9 s, total: 23.6 s
Wall time: 13.8 s

In [9]:
%%time
%%R

### Feather speed

library(arrow)
start_time <- Sys.time()
r_table <- arrow::read_feather("figshare_rainfall/combined.feather")
print(class(r_table))
library(dplyr)
result <- r_table %>% count(model)
end_time <- Sys.time()
print(result)
print(end_time - start_time)

[1] "tbl_df"     "tbl"        "data.frame"
# A tibble: 27 x 2
   model                  n
   <chr>              <int>
 1 ACCESS-CM2       1932840
 2 ACCESS-ESM1-5    1610700
 3 AWI-ESM-1-1-LR    966420
 4 BCC-CSM2-MR      3035340
 5 BCC-ESM1          551880
 6 CanESM5           551880
 7 CMCC-CM2-HR4     3541230
 8 CMCC-CM2-SR5     3541230
 9 CMCC-ESM2        3541230
10 EC-Earth3-Veg-LR 3037320
# … with 17 more rows
Time difference of 18.92635 secs
CPU times: user 11.7 s, sys: 21.4 s, total: 33.1 s
Wall time: 19 s

In [10]:
%%time
%%R

### Parquet speed

library(arrow)
start_time <- Sys.time()
r_table <- arrow::read_parquet("figshare_rainfall/combined.parquet")
print(class(r_table))
library(dplyr)
result <- r_table %>% count(model)
end_time <- Sys.time()
print(result)
print(end_time - start_time)

[1] "tbl_df"     "tbl"        "data.frame"
# A tibble: 27 x 2
   model                  n
   <chr>              <int>
 1 ACCESS-CM2       1932840
 2 ACCESS-ESM1-5    1610700
 3 AWI-ESM-1-1-LR    966420
 4 BCC-CSM2-MR      3035340
 5 BCC-ESM1          551880
 6 CanESM5           551880
 7 CMCC-CM2-HR4     3541230
 8 CMCC-CM2-SR5     3541230
 9 CMCC-ESM2        3541230
10 EC-Earth3-Veg-LR 3037320
# … with 17 more rows
Time difference of 12.02965 secs
CPU times: user 11.3 s, sys: 9.06 s, total: 20.4 s
Wall time: 12.1 s

### Decision

Our group chose to go with parquet to transfer the dataframe from Python to R. The file size for our combined data in parquet format was 544mb compared to 5.6GB and 1.0GB for csv and feather formats respectively. Meanwhile in the task of reading the file in R and running a simple `count(model)`, in parquet it had a wall time of 39 seconds which was compared to 40.6 seconds for arrow format and 1 minute and 23 seconds with feather format. 

While speed wise it seems that parquet and arrow do not differ too much, when we consider the file size of a parquet file compared to a csv it becomes the parquet format seems to be the better option.  Thus we decided to go with the parquet format to transfer the dataframe in R. 

We did not consider simply importing the pandas dataframe through `%%R -i` because of the amount of serialization and deserialization that would have to be done when transferring it from Python to R.

In [11]:
%%time
%%R -i r_table

## arrow Speed - running summary()
start_time <- Sys.time()
print(class(r_table))
##add details on collect here
library(dplyr)
# Arrow speed
result <- r_table %>% collect() %>% summary()
print(class(r_table %>% collect()))
end_time <- Sys.time()
print(result)
print(end_time - start_time)

[1] "Table"       "ArrowObject" "R6"
[1] "tbl_df"     "tbl"        "data.frame"
      time                        lat_min           lat_max
 Min.   :1888-12-31 16:00:00   Min.   :-36       Min.   :-36.00
 1st Qu.:1920-07-02 04:00:00   1st Qu.:-35       1st Qu.:-33.66
 Median :1952-01-01 04:00:00   Median :-33       Median :-32.04
 Mean   :1952-01-01 08:32:08   Mean   :-33       Mean   :-31.98
 3rd Qu.:1983-07-02 05:00:00   3rd Qu.:-31       3rd Qu.:-30.16
 Max.   :2014-12-31 04:00:00   Max.   :-30       Max.   :-27.91
                               NA's   :3219300
    lon_min           lon_max      rain (mm/day)        model
 Min.   :141       Min.   :141.2   Min.   :  0       Length:62467843
 1st Qu.:143       1st Qu.:145.0   1st Qu.:  0       Class :character
 Median :147       Median :148.1   Median :  0       Mode  :character
 Mean   :147       Mean   :148.2   Mean   :  2
 3rd Qu.:150       3rd Qu.:151.3   3rd Qu.:  1
 Max.   :154       Max.   :155.6   Max.   :433
 NA's   :3219300                   NA's   :3219300
Time difference of 30.46487 secs
CPU times: user 21.9 s, sys: 22.7 s, total: 44.6 s
Wall time: 30.6 s

In [12]:
%%time
%%R

### Feather speed - running summary()

library(arrow)
start_time <- Sys.time()
r_table <- arrow::read_feather("figshare_rainfall/combined.feather")
print(class(r_table))
library(dplyr)
result <- r_table %>% summary()
end_time <- Sys.time()
print(result)
print(end_time - start_time)

[1] "tbl_df"     "tbl"        "data.frame"
      time                        lat_min           lat_max
 Min.   :1888-12-31 16:00:00   Min.   :-36       Min.   :-36.00
 1st Qu.:1920-07-02 04:00:00   1st Qu.:-35       1st Qu.:-33.66
 Median :1952-01-01 04:00:00   Median :-33       Median :-32.04
 Mean   :1952-01-01 08:32:08   Mean   :-33       Mean   :-31.98
 3rd Qu.:1983-07-02 05:00:00   3rd Qu.:-31       3rd Qu.:-30.16
 Max.   :2014-12-31 04:00:00   Max.   :-30       Max.   :-27.91
                               NA's   :3219300
    lon_min           lon_max      rain (mm/day)        model
 Min.   :141       Min.   :141.2   Min.   :  0       Length:62467843
 1st Qu.:143       1st Qu.:145.0   1st Qu.:  0       Class :character
 Median :147       Median :148.1   Median :  0       Mode  :character
 Mean   :147       Mean   :148.2   Mean   :  2
 3rd Qu.:150       3rd Qu.:151.3   3rd Qu.:  1
 Max.   :154       Max.   :155.6   Max.   :433
 NA's   :3219300                   NA's   :3219300
Time difference of 36.75297 secs
CPU times: user 22.8 s, sys: 27.1 s, total: 50 s
Wall time: 36.8 s

In [13]:
%%time
%%R

### Parquet speed - running summary()

library(arrow)
start_time <- Sys.time()
r_table <- arrow::read_parquet("figshare_rainfall/combined.parquet")
print(class(r_table))
library(dplyr)
result <- r_table %>% summary()
end_time <- Sys.time()
print(result)
print(end_time - start_time)

[1] "tbl_df"     "tbl"        "data.frame"
      time                        lat_min           lat_max
 Min.   :1888-12-31 16:00:00   Min.   :-36       Min.   :-36.00
 1st Qu.:1920-07-02 04:00:00   1st Qu.:-35       1st Qu.:-33.66
 Median :1952-01-01 04:00:00   Median :-33       Median :-32.04
 Mean   :1952-01-01 08:32:08   Mean   :-33       Mean   :-31.98
 3rd Qu.:1983-07-02 05:00:00   3rd Qu.:-31       3rd Qu.:-30.16
 Max.   :2014-12-31 04:00:00   Max.   :-30       Max.   :-27.91
                               NA's   :3219300
    lon_min           lon_max      rain (mm/day)        model
 Min.   :141       Min.   :141.2   Min.   :  0       Length:62467843
 1st Qu.:143       1st Qu.:145.0   1st Qu.:  0       Class :character
 Median :147       Median :148.1   Median :  0       Mode  :character
 Mean   :147       Mean   :148.2   Mean   :  2
 3rd Qu.:150       3rd Qu.:151.3   3rd Qu.:  1
 Max.   :154       Max.   :155.6   Max.   :433
 NA's   :3219300                   NA's   :3219300
Time difference of 33.18549 secs
CPU times: user 23.7 s, sys: 18.6 s, total: 42.2 s
Wall time: 33.3 s